//
   Created by wangshuang on 16/6/21.
extends main_jade
block content
    h1 User using Jade Template
    ul
        li Name: #{uname}
        li Vehicle: #{vehicle}
        li Terrain: #{terrain}
        li Climate: #{climate}
        li Location: #{location}